#training-data {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap; /*maybe needs to be nowrap to not affect list*/
    gap: 0.3rem;
    align-items: flex-start;
    padding-top: 4rem;
    padding-left: 4rem;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

#session {
    border: 1px, solid;
    padding: 0.8rem;
}

.lap-list ul {
    list-style: none;
}

.render-as-cards {
    font-family: 'Roboto';
    min-height: 300px;
}

.render-as-cards.swim {
    background-color: rgb(161, 161, 219);
}

.render-as-cards.swim .start-time span,
.render-as-cards.swim .total-distance span,
.render-as-cards.swim .total-time span,
.render-as-cards.swim .avg-time-per-100m span,
.render-as-cards.swim .avg-heart-rate span,
.render-as-cards.swim .max-heart-rate span,
.render-as-cards.swim .total-calories span {
    font-weight: bold;
}

.render-as-cards.bike {
    background-color: rgb(164, 226, 164);
}

.render-as-cards.run {
    background-color: rgb(240, 202, 168);
}

.render-as-cards.strength {
    background-color: rgb(240, 116, 116);
}

.render-as-cards .sport-type {
    width: 40px;
    height: 40px;
}

.render-as-cards .sport-type img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.render-as-list {
    display: flex;
    align-items: center; /* Vertically aligns content */
    /* padding: 1rem; */
    border: 1px solid gray;
    margin-bottom: 1rem;
    min-height: 10px; /* Short height for list items */
    max-height: 20px;
    width: calc(100% - 2rem); /* Takes the full width minus padding */
    max-width: 100%; /* Ensures no overflow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: 'Roboto';
    background-color: #f8f8f8; /* Neutral background for list */
}

.render-as-cards .sport-type {
    width: 40px;
    height: 40px;
}

.render-as-list .sport-type img {
    object-fit: contain;
    width: 55%;
    height: 55%;
}