#calendar {
    margin: auto;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(190, 189, 189);
}

#calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calendar h3 {
    font-family: "Roboto";
}

#calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}

#calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#prev, #next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

#prev::before, #next::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: grey;
}

#next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.days {
    font-weight: 600;
    font-family: "Roboto";
}

.dates li.today {
    color: #fff;
}

.dates li.today .daybutton {
    color: #fff;
    background-color: black;
}

.dates li.today::before {
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    z-index: -1;
}

.dates li.inactive {
    color: rgb(182, 31, 31);
    font-family: "Roboto";
    font-size: 12px;
}

.daybutton {
    border: none;
    cursor: pointer;
}
