#calendar {
    margin: auto;
    width: 380px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: red;
}

#calendar header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calendar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}

#calendar ul li {
    width: calc(100% / 7);
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#prev, #next {
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    border: none;
    background: transparent;
    cursor: pointer;
}